@tailwind base;
@tailwind components;
@tailwind utilities;

/* Background Colors */
.background-blue {
    background-color: #0c0a25;
}

.background-form {
    background-color: #272355;
}

.text-blue {
    background-color: #0c0a25;
}

.light-blue {
    background-color: #117ea6;
}

.light-blue-line-homepage,
.light-blue-line-values {
    width: 100vw;
    background-color: #117ea6;
}

/* Background Images */
.background-img {
    background-image: url('/assets/home1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.background-data {
    background-image: url('/assets/databack.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.background-blue-op {
    background-color: #0c0a2593;
}

/* Text Colors */
.text-light-blue {
    color: rgb(18, 126, 166);
}

/* Fonts */
.maven-pro {
    font-family: "Maven Pro", serif;
}

.helvetica {
    font-family: "Arimo", serif;
}

/* Layout */
.home-bg {
    height: 90vh;
}

.container-home {
    height: 75vh;
}

.img-webelieve {
    width: 100%;
}

/* Gradient Border */
.gradient-border {
    border-image: linear-gradient(90deg, #8c52ff, #5ce1e6) 1;
}

/* Navigation Item */
.nav-item {
    position: relative;
    cursor: pointer;
}

.nav-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.nav-item:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Media Queries */
@media (max-width: 768px) {
    .background-img,
    .background-data {
        background-size: contain;
    }
}
